.App {
  max-width: 100vw;
}

.StreetScene {
  max-block-size: -webkit-fill-available;
}

.RoomImage {
  width: 100%;
  height: auto;
  object-fit: cover;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -ms-user-select: none;
}

.infoDiv {
  position: fixed;
  pointer-events: none;
  top: 0;
  left: 0;
}

.house-container {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  list-style: none;
  padding: 0;
  margin: 0;
  z-index: 1000;
}

nav {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 0;
}

.nav-background {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 230px;
  height: 30vh;
  background: #fff;
  border-bottom-right-radius: 25px;
  opacity: 0.8;
}

.audio-content-modal {
  position: absolute;
}

.image-content-modal {
  position: absolute;
  box-shadow: rgb(255 255 255) 0px 0px 100px 0px;
}

.text-content-modal {
  background: url('./images/grunge-paper-background-texture.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  border: none;
  border-radius: 10px;
  box-shadow: 5px 10px 8px;
}

.text-content-modal-body {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
}

.modal-background {
  overflow-x: hidden;
  background: whitesmoke;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 10001;
}

.modal-foreground {
  position: absolute;
  top: 0;
  left: 0;
  max-height: 100vh;
  width: 100vw;
  z-index: 10003;
}

.logo {
  position: absolute;
  top: 19px;
  left: 80px;
  margin: 0 auto;
  width: 400px;
  font-family: American Typewriter, serif;
  font-size: 30px;
}

.footer {
  position: fixed;
  bottom: 0;
  height: 30px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: rgb(8, 8, 8);
  font-family: American Typewriter, serif;
  font-size: 12px;
  width: 100vw;
  padding-top: 5px;
  text-align: center;
}

.social-icons {
  position: absolute;
  display: flex;
  right: 10px;
  top: 3px;
}

.social-icon {
  padding-right: 2px;
}

.menu-button {
  outline: none;
  border: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  cursor: pointer;
  position: absolute;
  top: 18px;
  left: 15px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: transparent;
}

.room-close-modal-button {
  outline: none;
  border: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 30px;
  width: 20px;
  height: 35px;
  width: 35px;
  background: whitesmoke;
  box-shadow: rgb(0, 0, 0) 1px 1px 10px 4px;
  border-radius: 35px;
  z-index: 10003;
}

.close-audio-modal-button {
  outline: none;
  border: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  cursor: pointer;
  position: absolute;
  top: -10px;
  right: -20px;
  height: 30px;
  background: white;
  border-radius: 30px;
  z-index: 10002;
}

.close-modal-button {
  outline: none;
  border: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  cursor: pointer;
  position: absolute;
  top: 0px;
  right: 0px;
  width: 32px;
  height: 32px;
  background: whitesmoke;
  border-radius: 32px;
  z-index: 10002;
  box-shadow: rgb(0, 0, 0) 1px 1px 10px 4px;
}

.close-about-modal-button {
  outline: none;
  border: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 32px;
  height: 32px;
  background: whitesmoke;
  border-radius: 32px;
  z-index: 10002;
  box-shadow: rgb(0, 0, 0) 1px 1px 10px 4px;
}

.ul-menu,
.li-menu {
  margin: 0;
  padding: 0;
}

.ul-menu {
  padding-left: 10px;
  position: absolute;
  top: 70px;
  width: 220px;
}

.li-menu {
  list-style: none;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.icon-placeholder {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  flex: 40px 0;
  margin-right: 10px;
  margin-top: 20px;
  margin-left: 10px;
  text-align: center;
}

.text-placeholder {
  border-radius: 5px;
  width: 200px;
  height: 20px;
  flex: 1;
}

.roomContainer {
  height:100%;
  width:100%;
  margin:0;
  padding:0;
  bottom:0;
  background-color:white;
  background-size:100% 100%;
}

.lightBoxLayer{
  display: none;
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index:10001;
  -moz-opacity: 0.8;
  opacity:.80;
  filter: alpha(opacity=80);
}

.glyphicon {
  font-size: 20px;
}

.glyphicon.glyphicon-remove-sign {
  top:3px;
  right:0px;
}

.glyphicon.glyphicon-home {
  font-size: 25px;
  top:2px;
  right:2px;
}

.TypeWriterTextBlock {
  display: block;
  position: absolute;
  top: 20%;
  left: 50%;
  width: 80%;
  transform: translate(-50%, -50%) !important;
}

.TypeWriterTextHeader {
  font-size: x-large;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}

.TypeWriterTextParagraph {
  font-size: x-large;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}

.aboutButton {
  background-color: transparent;
  border: none;
  color: black;
  padding: 0px;
}

.aboutModal {
  overflow-x: hidden;
  background: whitesmoke;
  position: absolute;
  border: none;
  box-shadow: rgba(187, 55, 116, 0.5) 0px 22px 70px 4px;
  border-radius: 10px;
  top: 50%;
  left: 50%;
  height: 50vh;
  width: 50vw;
  z-index: 10002;
}

.modalButton {
  box-shadow: rgb(0, 0, 0) 1px 1px 10px 4px;
  font-size: 2.5em;
  color: black;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  border: none;

}

.aboutModalBackgroundLeft {
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  height: 100vh;
  width: 50vw;
  z-index: 10001;
  opacity: 0.9;
}

.aboutModalBackgroundRight {
  position: absolute;
  top: 0;
  right: 0;
  background-color: black;
  height: 100vh;
  width: 50vw;
  z-index: 10001;
  opacity: 0.9;
}

.aboutModalInfo {
  position: absolute;
  top: 20%;
  left: 50%;
  width: 80%;
  transform: translate(-50%, -50%) !important;
}

.aboutModalTextParagraph {
  font-size: x-large;
  font-family: Arial, Helvetica, sans-serif;
}

.aboutModalLogo {
  position: absolute;
  bottom: 0;
  right: 20px;
  z-index: 10001;
}

.navLink {
  color: black;
}

